@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top, 16px);
  }
}

body {
  background-color: #f8fafc; /* bg-slate-50 */
}

