@import "tailwindcss";

@theme {
  --color-primary: #004d99;
  --color-primary-hover: #003d7a;
  --color-primary-100: #b3cce6;
  --color-secondary: #00b1ff;
  --color-accent: #ffcc00;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}

.dark .glass {
  @apply bg-slate-900/80 border-slate-800/20;
}
